<h1>Lista de Personas</h1>

<table>
  <tr>
    <th>Cedula</th>
    <th>Direccion</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Fecha de Fusión</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @perzonas.each do |perzona| %>
  <tr>
    <td><%= perzona.cedula %></td>
    <td><%= perzona.direccion %></td>
    <td><%= perzona.nombre %></td>
    <td><%= perzona.apellido %></td>
    <td><%= perzona.aggregate_date %></td>
    <td><%= link_to 'Mostar', perzona %></td>
    <td><%= link_to 'Editar', edit_perzona_path(perzona) %></td>
    <td><%= link_to 'Destruir', perzona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Persona', new_perzona_path %>
