<h1>Lista de People</h1>

<table>
  <tr>
    <th>Cedula</th>
    <th>Direccion</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Fecha de Fusión</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.cedula %></td>
    <td><%= person.direccion %></td>
    <td><%= person.nombre %></td>
    <td><%= person.apellido %></td>
    <td><%= person.aggregate_date %></td>
    <td><%= link_to 'Ver', person %></td>
    <td><%= link_to 'Editar', edit_person_path(person) %></td>
    <td><%= link_to 'Destruir', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Person', new_person_path %>
