<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @friend.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @friend.apellido %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
