<h1>Listing amigos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @amigos.each do |amigo| %>
  <tr>
    <td><%= amigo.nombre %></td>
    <td><%= amigo.apellido %></td>
    <td><%= link_to 'Show', amigo %></td>
    <td><%= link_to 'Edit', edit_amigo_path(amigo) %></td>
    <td><%= link_to 'Destroy', amigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Amigo', new_amigo_path %>
